.navbar-yes {
    text-align: left;
    background-color: rgb(52, 78, 134);
    height: 80px;
    width: auto;
    padding: 5px;
}

a {
    text-decoration: none;
    color: snow;
    letter-spacing: 0.1cm;
    font-size: 18px;
    text-transform: capitalize;
    margin-left: 30px;
}

body {
    background: rgb(78, 101, 173);
}

.main {
    background-color: snow;
    border-radius: 0.5cm;
    height: 500px;
    width: 600px;
    margin: 30px;
}

.second {
    background-color: snow;
    height: 500px;
    width: 820px;
    margin-right: 30px;
    border-radius: 0.5cm;
    position: absolute;
    top: 129px;
    right: 10px;
}

.third {
background-color: snow;
height: 500px;
width: 1440px;
border-radius: 0.5cm;
margin: 30px;
}

.stuff {
    width: 200px;
    height: 90px;
    margin-left: 10px;
    color: black;
    margin-top: 10px;
}

.broke {
   float: right;    
   height: 370px;
   width: 360px;
   margin-right: 20px;
   margin-bottom: 30%;
   border-radius: 0.5cm;
}

.sec {
    margin-left:10px;
}




#one2many {
    font-size: 30px;
    text-transform: capitalize;
}